@model IEnumerable<Invitations>

@{
    ViewData["Title"] = "WaitingList";
}
<div>
<h1>Waiting List</h1>
</div>

 <table style="width:90%">
    <thead>
        <tr>
            <th>Your Id</th>
            <th>Your Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Id
                </td>
                <td>
                    @obj.Email
                </td>
            </tr>
        }
    </tbody>
</table>


<style>
    table {
        text-align: center; 
        vertical-align: middle;
        border: 1;
        margin: 20px;
        border-spacing: 30px;
    }

    td 
    {
        height: 50px; 
        width: 50%;
    }


th, td {
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

th {
    background-color: antiquewhite;
      margin: 15px;
      border: 3px solid black;
}

h1 {
            font-size: 3rem;
            font-weight: bold;
            line-height: 1.2;
            padding-top: 20px;
            padding-left: 60px;
            }

</style>