@{
    ViewData["Title"] = "About";
}

<div class="smth">
        <div>
            <h1>How It All Began?</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium cumque quidem voluptate nostrum reiciendis nobis dolore modi natus, 
                tempore aliquam suscipit recusandae ipsam, eum ipsum consectetur eaque dolorem! Minus, sapiente?
                Et hic ex eveniet at officia! Eveniet modi, ullam repellendus eum veniam saepe ut autem, quos 
                ipsam sapiente itaque mollitia cumque aspernatur, dolorem provident voluptates in dolor 
                consequuntur! Dolorem, officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem est molestiae cumque, 
                illo ea, recusandae itaque fuga, delectus nulla dolore sequi quis minima excepturi repellendus tenetur harum repellat voluptatem officiis.
                Nothing ahaha. Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium cumque quidem voluptate nostrum reiciendis nobis dolore modi natus, 
                tempore aliquam suscipit recusandae ipsam, eum ipsum consectetur eaque dolorem! Minus, sapiente?
                Et hic ex eveniet at officia! Eveniet modi, ullam repellendus eum veniam saepe ut autem, quos 
                ipsam sapiente itaque mollitia cumque aspernatur, dolorem provident voluptates in dolor 
                consequuntur! Dolorem, officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem est molestiae cumque, 
                illo ea, recusandae itaque fuga, delectus nulla dolore sequi quis minima excepturi repellendus tenetur harum repellat voluptatem officiis.
            </p>
        </div>
        <div>
            <h1>What Are We Doing Now?</h1>
            <p>
                Nothing ahaha. Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium cumque quidem voluptate nostrum reiciendis nobis dolore modi natus, 
                tempore aliquam suscipit recusandae ipsam, eum ipsum consectetur eaque dolorem! Minus, sapiente?
                Et hic ex eveniet at officia! Eveniet modi, ullam repellendus eum veniam saepe ut autem, quos 
                ipsam sapiente itaque mollitia cumque aspernatur, dolorem provident voluptates in dolor 
                consequuntur! Dolorem, officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem est molestiae cumque, 
                illo ea, recusandae itaque fuga, delectus nulla dolore sequi quis minima excepturi repellendus tenetur harum repellat voluptatem officiis.
                Nothing ahaha. Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium cumque quidem voluptate nostrum reiciendis nobis dolore modi natus, 
                tempore aliquam suscipit recusandae ipsam, eum ipsum consectetur eaque dolorem! Minus, sapiente?
                Et hic ex eveniet at officia! Eveniet modi, ullam repellendus eum veniam saepe ut autem, quos 
                ipsam sapiente itaque mollitia cumque aspernatur, dolorem provident voluptates in dolor 
                consequuntur! Dolorem, officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem est molestiae cumque, 
                illo ea, recusandae itaque fuga, delectus nulla dolore sequi quis minima excepturi repellendus tenetur harum repellat voluptatem officiis.
            </p>
            <ul class="exp">
                <li>
                    Eveniet modi, ullam repellendus eum veniam saepe ut autem, quos 
                    ipsam sapiente itaque mollitia cumque aspernatur
                </li>
                <li>
                    ipsam sapiente itaque mollitia cumque aspernatur, dolorem
                </li>
                <li>
                    Eveniet modi, ullam repellendus eum veniam saepe ut autem,
                </li>
                <li>
                    excepturi repellendus tenetur harum repellat voluptatem officiis.
                    Nothing ahaha. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </li>
                <li>
                    repellendus eum veniam saepe ut autem, quos 
                    ipsam sapiente itaque mollitia cumque aspernatur
                </li>
                <li>
                    ipsam sapiente itaque mollitia cumque aspernatur
                </li>
            </ul>
        </div>
        <div>
            <h1>What to Expect in the Future?</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium cumque quidem voluptate nostrum reiciendis nobis dolore modi natus, 
                tempore aliquam suscipit recusandae ipsam, eum ipsum consectetur eaque dolorem! Minus, sapiente?
                Et hic ex eveniet at officia! Eveniet modi, ullam repellendus eum veniam saepe ut autem, quos 
                ipsam sapiente itaque mollitia cumque aspernatur, dolorem provident voluptates in dolor 
                consequuntur! Dolorem, officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem est molestiae cumque, 
                illo ea, recusandae itaque fuga, delectus nulla dolore sequi quis minima excepturi repellendus tenetur harum repellat voluptatem officiis.
                <br><br>
            </p>
        </div>
</div>



<style>
        .smth {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
        }

        .exp {
            list-style: square;
            margin: 10px 55px;
        }

        .exp li {
            padding: 3px;
        }

        .smth >div {
            padding: 10px 180px;
        }

        /* div >h1 {
            background-color: rgb(140, 91, 30);
            color: aliceblue;
            padding: 5px 15px;
            border-radius: 10px;
        } */
</style>
