@{
    ViewData["Title"] = "FAQ";
}

<div class="faq-container">
        <h1>FAQ - Frequently Asked Questions</h1>
        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>What is Wheat?</h4>
        </div>
        <div class="pnl">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ea fugit ratione consectetur veniam accusantium hic et itaque 
                similique vero dolor incidunt possimus earum esse labore rem eligendi, necessitatibus nam!
            </p>
        </div>

        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>Can I use the Wheat for commercial purposes?</h4>
        </div>
        <div class="pnl">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ea fugit ratione consectetur veniam accusantium hic et itaque 
                similique vero dolor incidunt possimus earum esse labore rem eligendi, necessitatibus nam!
            </p>
        </div>

        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>If my question isn't answered here, where can I obtain more information?</h4>
        </div>
        <div class="pnl">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ea fugit ratione consectetur veniam accusantium hic et itaque 
                similique vero dolor incidunt possimus earum esse labore rem eligendi, necessitatibus nam!
            </p>
        </div>

        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>Why do I need to have wheat?</h4>
        </div>
        <div class="pnl">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ea fugit ratione consectetur veniam accusantium hic et itaque 
                similique vero dolor incidunt possimus earum esse labore rem eligendi, necessitatibus nam!
            </p>
        </div>

        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>What if I have allegrgy? Can wheat really help with all my issues?</h4>
        </div>
        <div class="pnl">
            <p>
                Yes! actually it Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ea fugit ratione consectetur veniam accusantium hic et itaque 
                similique vero dolor incidunt possimus earum esse labore rem eligendi, necessitatibus nam!
            </p>
        </div>

        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>My wheat is broken, what should I do?</h4>
        </div>
        <div class="pnl">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ea fugit ratione consectetur veniam accusantium hic et itaque 
                similique vero dolor incidunt possimus earum esse labore rem eligendi, necessitatibus nam!
            </p>
        </div>

        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>Why you have invitations and not registration form? Isn't it dumb?</h4>
        </div>
        <div class="pnl">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ea fugit ratione consectetur veniam accusantium hic et itaque 
                similique vero dolor incidunt possimus earum esse labore rem eligendi, necessitatibus nam!
            </p>
        </div>

        <div class="inst">
            <div class="fa fa-question-circle"></div>
            <h4>Why do you have website for such usless purpose?</h4>
        </div>
        <div class="pnl">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Praesentium similique voluptates unde! Soluta ipsa a atque veniam officia.
                 Non commodi ex, impedit inventore odio provident nesciunt voluptas cumque unde, ea 
                 deleniti quo illum, minus magnam atque. Beatae, obcaecati corrupti velit sed rerum 
                 quae eaque nam saepe tempora ipsa atque placeat quam, necessitatibus commodi illum odio? 
                 Aut eligendi laudantium optio architecto velit facilis unde. Quod, exercitationem! Magni quis
                  deleniti id perspiciatis non. Doloribus, quis adipisci soluta ad iusto corporis, voluptatum 
                  et numquam non minima debitis esse! Ad, necessitatibus dolores, recusandae numquam sit harum quisquam 
                  temporibus, repudiandae natus soluta suscipit optio saepe.
            </p>
        </div>
</div>
<br>

    <style>
        .faq-container {
            width: 80%;
            margin: 0 auto;
            margin-top: 10px;
        }

        .faq-container h4 {
            position: relative;
            width: 50rem;
            color: rgb(46, 26, 12);
        }

        .inst {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 15px;
            border: 3px solid rgb(106, 66, 21);
            border-radius: 10px;
            margin: 15px 0;
            cursor: pointer;
            background-color: antiquewhite;
        }

        .inst h4 {
            padding: 15px 0 0 15px;
        }

        .inst {
            margin: 15px;
            padding: 5px 0 0 15px;
        }

        .pnl {
            padding: 0 10px;
            margin-left: 20px;
            font-size: 16px;
            border-left: 1px solid rgb(48, 11, 11);
            text-align: justify;
            overflow: hidden;
            max-height: 0px;
            transition: all .6s ease-in;
        }

        .active {
            background: rgb(140, 91, 30);
            color: whitesmoke;
        }

        .active h4 {
            color: whitesmoke;
        }
    </style>


    <script src="~/js/script1.js" defer></script>